    #body{background-color: rgb(102, 153, 204);
      font-family: 'Sue Ellen Francisco', cursive;
      color: darkblue;
      text-align: center;
      margin:auto;
      display: block;
    }
    p, h1, h2{border: purple 3px solid;
    }
    a{color: white;
      border: red 2px solid;
    }
    a:visited{color: white;
      border: red 2px solid;
    }
    ol{padding: 2%;
      margin: auto;
      border: white 1px solid;
      width: 80%;
    }
    li{border-bottom: white 2px solid;
      padding: 5px;
      width: 90%;
      margin: auto;
    }
    img{width:80%;
      padding: 2%;
      margin: 10px auto;
      border: lightpink 2px solid;
      background: white;
    }
