    html{scroll-behavior: smooth;
    }
    #body{background-color: rgb(102, 153, 204);
      font-family: 'Sue Ellen Francisco', 'Architects Daughter', cursive;
      color: darkblue;
      text-align: center;
      padding: 5px;
      margin:auto;
      display: block;
    }
    .AlbumCover{padding: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
      align: center;
      width: 80%;
      height: 80%;
    }
    .bek{text-align: center;
      margin: auto;
      font-size: 100px;
    }
    a{color: white;
    }
    a:visited{color: white;
    }
    h1{text-align: center;
      font-size: 60px;
    }
    h2{text-align: center;
      font-size: 45px;
    }
    .coverart{width: 30%;
      height: 30%;
      margin:auto;
      padding: 5px;
    }
    @media screen and (max-width: 600px){
        .coverart{
        display: none;
    }
    }
    .video{width: 400px;
      height: 400px;
      margin:auto;
      padding: 5px;
    }
    p{text-align: center;
      font-size: 40px;
    }
    .lyrics{text-align: center;
      margin: auto;
    }
    @media screen and (min-width: 601px) {
      .lyrics{font-size: 80px;
    }
    }
    @media screen and (max-width: 600px) {
      .lyrics{font-size: 30px;
    }
    }
    ol{padding: 5%;
      margin: auto;
      width: 80%;
      font-size: 45px;
    }
    @media screen and (min-width: 601px) {
      .ol{font-size: 80px;
      width:90%;
      padding: 5%;
      margin: 10px auto;
    }
    }
    li{padding: 5px;
      width: 90%;
      margin: auto;
      font-size: 50%;
    }
