    html{scroll-behavior: smooth;
    }
    #body{background-color: rgb(102, 153, 204);
      font-family: 'Sue Ellen Francisco', cursive;
      color: darkblue;
      text-align: center;
      padding: 5px;
      margin:auto;
      display: block;
    }
    a{color: white;
    }
    a:visited{color: white;
    }
    h1{text-align: center;
      font-size: 60px;
    }
    h2{text-align: center;
      font-size: 45px;
    }
    p{text-align: center;
      font-size: 30px;
    }
    ol{padding: 5%;
      margin: auto;
      width: 80%;
      font-size: 45px;
    }
    li{padding: 5px;
      width: 90%;
      margin: auto;
      font-size: 45px;
    }
    img{width:90%;
      padding: 5%;
      margin: 10px auto;
    }
